* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}

body {
  background-color: #f7f3fa;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

button {
  border: none;
}

input[type=button] {
  border: none;
}

.navbar-top {
  display: flex;
  height: 64px;
  width: 100vw;
  top: 0;
}
.navbar-top > button {
  color: #0a0a29;
}
.navbar-top > button svg {
  filter: drop-shadow(0 0 0.2rem #c1c1f0);
}

.menu-vertical {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #0a0a29;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}
.menu-vertical li {
  font-size: 0.9rem;
  padding: 0 1rem;
}
.menu-vertical li a {
  padding: 0.3rem;
  border-radius: 4px;
  color: #181867;
  font-weight: bold;
}
.menu-vertical li a:hover {
  background-color: #eaeafa;
}

.box-settings a {
  color: rgb(200, 200, 200);
  margin: 0 0.6rem;
}
.box-settings .profile-field {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a0a29;
}
.box-settings .profile-field button {
  background-color: transparent;
}

/* ============== AVATAR ============== */    
.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 1rem;
}

/* ============== SHADOW ============== */
.shadow {
  box-shadow: 0 3px 2px 0px rgba(180, 180, 200, 0.2);
}

.container-header {
  width: 100%;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #f1eaf7;
}
.container-header .menu-option {
  border: 1px solid #f1eaf7;
  background-color: #fdfcfc;
  border-radius: 8px;
}
.container-header .menu-option li {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.7rem 0.8rem;
}
.container-header .menu-option li input {
  width: 120px;
  overflow: hidden;
  margin: 0.2rem 0 0.5rem 0;
  padding-bottom: 3px;
  outline: none;
  border-bottom: 2px solid #f5f5f5;
}
.container-header .menu-option li input:focus, .container-header .menu-option li input:hover {
  border-bottom: 2px solid #f1eaf7;
}
.container-header .menu-option li input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.container-body {
  border-bottom: 1px solid #f1eaf7;
}
.container-body .container-title {
  padding: 1rem;
  color: #c1c1f0;
  font-size: 0.8rem;
  font-weight: bold;
}
.container-body .toolbar-docs label {
  font-weight: bolder;
  margin: 0 0.3rem;
}
.container-body .toolbar-docs label p {
  font-size: 0.8rem;
  color: #c1c1f0;
}
.container-body .toolbar-docs input[type=radio] {
  display: none;
}
.container-body .toolbar-docs input[type=radio]:checked + label {
  border-radius: 5px;
  background-color: rgba(193, 193, 240, 0.4);
}

.container-footer {
  display: flex;
}

/* ============== DONUT CHART ============== */
:root {
  --size: 255;
}

.graph {
  text-align: center;
  width: 200px;
  height: 200px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: transparent;
  stroke-width: 7px;
}

.chart1 {
  transform: rotate(0deg);
  transform-origin: center;
}

.chart2 {
  transform: rotate(0deg);
  transform-origin: center;
}

.chart3 {
  transform: rotate(0deg);
  transform-origin: center;
}

.donut-text {
  fill: #34323a;
  font-size: 2em;
  line-height: 1;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=style.css.map */