html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f3fa;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

button {
  border: none;
}

input[type=button] {
  border: none;
}

.navbar-top {
  display: flex;
  height: 64px;
  width: 100vw;
  top: 0;
}
.navbar-top > button {
  color: #0a0a29;
}
.navbar-top > button svg {
  filter: drop-shadow(0 0 0.2rem #c1c1f0);
}

.menu-vertical {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #0a0a29;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}
.menu-vertical li {
  font-size: 0.9rem;
  padding: 0 1rem;
}
.menu-vertical li a {
  padding: 0.3rem;
  border-radius: 4px;
  color: #181867;
  font-weight: bold;
}
.menu-vertical li a:hover {
  background-color: #eaeafa;
}

.box-settings a {
  color: rgb(200, 200, 200);
  margin: 0 0.6rem;
}
.box-settings .profile-field {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a0a29;
}
.box-settings .profile-field button {
  background-color: transparent;
}

/* ============== AVATAR ============== */    
.avatar {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 1rem;
}

/* ============== ICON ============== */
.icon-blue-theme2 {
  color: #0a0a29 !important;
  background-color: #0a0a293f !important;
}

.icon-blue-theme1 {
  color: #c1c1f0 !important;
  background-color: #c1c1f03f !important;
}

.icon-blue-theme {
  color: #181867 !important;
  background-color: #1818673f !important;
}

.icon-gray {
  color: #ebebeb !important;
  background-color: #ebebeb3f !important;
}

.icon-dark-gray {
  color: #77757c !important;
  background-color: #77757c3f !important;
}

.icon-white {
  color: #ffffff !important;
  background-color: #ffffff3f !important;
}

.icon-attention {
  color: #ff9359 !important;
  background-color: #ff93593f !important;
}

.icon-danger {
  color: #cb2027 !important;
  background-color: #cb20273f !important;
}

.icon-info {
  color: #5fd8e4 !important;
  background-color: #5fd8e43f !important;
}

.icon-primary {
  color: #5967ff !important;
  background-color: #5967ff3f !important;
}

.icon-success {
  color: #59ca7f !important;
  background-color: #59ca7f3f !important;
}

.icon-warning {
  color: #ffcc33 !important;
  background-color: #ffcc333f !important;
}

/* ============== SHADOW ============== */
.shadow {
  box-shadow: 0 0 10px 5px rgba(190, 190, 200, 0.5);
}

.container-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* ==============  ============== */
.text-blue-theme2 {
  color: #0a0a29 !important;
}

.bg-blue-theme2 {
  background-color: #0a0a29 !important;
}

.border-blue-theme2 {
  border-color: #0a0a29 !important;
}

.text-blue-theme1 {
  color: #c1c1f0 !important;
}

.bg-blue-theme1 {
  background-color: #c1c1f0 !important;
}

.border-blue-theme1 {
  border-color: #c1c1f0 !important;
}

.text-blue-theme {
  color: #181867 !important;
}

.bg-blue-theme {
  background-color: #181867 !important;
}

.border-blue-theme {
  border-color: #181867 !important;
}

.text-gray {
  color: #ebebeb !important;
}

.bg-gray {
  background-color: #ebebeb !important;
}

.border-gray {
  border-color: #ebebeb !important;
}

.text-dark-gray {
  color: #77757c !important;
}

.bg-dark-gray {
  background-color: #77757c !important;
}

.border-dark-gray {
  border-color: #77757c !important;
}

.text-white {
  color: #ffffff !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.border-white {
  border-color: #ffffff !important;
}

.text-attention {
  color: #ff9359 !important;
}

.bg-attention {
  background-color: #ff9359 !important;
}

.border-attention {
  border-color: #ff9359 !important;
}

.text-danger {
  color: #cb2027 !important;
}

.bg-danger {
  background-color: #cb2027 !important;
}

.border-danger {
  border-color: #cb2027 !important;
}

.text-info {
  color: #5fd8e4 !important;
}

.bg-info {
  background-color: #5fd8e4 !important;
}

.border-info {
  border-color: #5fd8e4 !important;
}

.text-primary {
  color: #5967ff !important;
}

.bg-primary {
  background-color: #5967ff !important;
}

.border-primary {
  border-color: #5967ff !important;
}

.text-success {
  color: #59ca7f !important;
}

.bg-success {
  background-color: #59ca7f !important;
}

.border-success {
  border-color: #59ca7f !important;
}

.text-warning {
  color: #ffcc33 !important;
}

.bg-warning {
  background-color: #ffcc33 !important;
}

.border-warning {
  border-color: #ffcc33 !important;
}

/* ============== BORDER ============== */
.border1 {
  border: 1px solid black;
}

.border-t1 {
  border-top: 1px solid black;
}

.border-b1 {
  border-bottom: 1px solid black;
}

.border-l1 {
  border-left: 1px solid black;
}

.border-r1 {
  border-right: 1px solid black;
}

.border2 {
  border: 2px solid black;
}

.border-t2 {
  border-top: 2px solid black;
}

.border-b2 {
  border-bottom: 2px solid black;
}

.border-l2 {
  border-left: 2px solid black;
}

.border-r2 {
  border-right: 2px solid black;
}

.border3 {
  border: 3px solid black;
}

.border-t3 {
  border-top: 3px solid black;
}

.border-b3 {
  border-bottom: 3px solid black;
}

.border-l3 {
  border-left: 3px solid black;
}

.border-r3 {
  border-right: 3px solid black;
}

.border4 {
  border: 4px solid black;
}

.border-t4 {
  border-top: 4px solid black;
}

.border-b4 {
  border-bottom: 4px solid black;
}

.border-l4 {
  border-left: 4px solid black;
}

.border-r4 {
  border-right: 4px solid black;
}

.border5 {
  border: 5px solid black;
}

.border-t5 {
  border-top: 5px solid black;
}

.border-b5 {
  border-bottom: 5px solid black;
}

.border-l5 {
  border-left: 5px solid black;
}

.border-r5 {
  border-right: 5px solid black;
}

.border-around {
  border-radius: 4px;
}

.border-circle {
  border-radius: 50%;
}

/* ============== PREGRESS-BAR ============== */
.progress-bar {
  cursor: pointer;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
  height: 15px;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  /* ========================================= */
}
.progress-bar-blue-theme2 {
  background-color: #0a0a29;
}
.progress-bar-blue-theme1 {
  background-color: #c1c1f0;
}
.progress-bar-blue-theme {
  background-color: #181867;
}
.progress-bar-gray {
  background-color: #ebebeb;
}
.progress-bar-dark-gray {
  background-color: #77757c;
}
.progress-bar-white {
  background-color: #ffffff;
}
.progress-bar-attention {
  background-color: #ff9359;
}
.progress-bar-danger {
  background-color: #cb2027;
}
.progress-bar-info {
  background-color: #5fd8e4;
}
.progress-bar-primary {
  background-color: #5967ff;
}
.progress-bar-success {
  background-color: #59ca7f;
}
.progress-bar-warning {
  background-color: #ffcc33;
}
.progress-bar--success-to-danger {
  background-image: svg-gradient(to right, #cb2027, #ffcc33 75%, #cb2027);
}
.progress-bar__bar {
  background-color: #ececec;
  box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 500ms ease-out;
}

/* ============== Width ============== */
.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

/* ============== MARGIN ============== */
.m0 {
  margin: 0rem !important;
}

/*-------- Margin Top*/
.mt0 {
  margin-top: 0rem !important;
}

/*-------- Margin Bottom*/     
.mb0 {
  margin-bottom: 0rem !important;
}

/*-------- Margin Left*/
.ml0 {
  margin-left: 0rem !important;
}

/*-------- Margin Right*/
.mr0 {
  margin-right: 0rem !important;
}

.m1 {
  margin: 0.25rem !important;
}

/*-------- Margin Top*/
.mt1 {
  margin-top: 0.25rem !important;
}

/*-------- Margin Bottom*/     
.mb1 {
  margin-bottom: 0.25rem !important;
}

/*-------- Margin Left*/
.ml1 {
  margin-left: 0.25rem !important;
}

/*-------- Margin Right*/
.mr1 {
  margin-right: 0.25rem !important;
}

.m2 {
  margin: 0.5rem !important;
}

/*-------- Margin Top*/
.mt2 {
  margin-top: 0.5rem !important;
}

/*-------- Margin Bottom*/     
.mb2 {
  margin-bottom: 0.5rem !important;
}

/*-------- Margin Left*/
.ml2 {
  margin-left: 0.5rem !important;
}

/*-------- Margin Right*/
.mr2 {
  margin-right: 0.5rem !important;
}

.m3 {
  margin: 0.75rem !important;
}

/*-------- Margin Top*/
.mt3 {
  margin-top: 0.75rem !important;
}

/*-------- Margin Bottom*/     
.mb3 {
  margin-bottom: 0.75rem !important;
}

/*-------- Margin Left*/
.ml3 {
  margin-left: 0.75rem !important;
}

/*-------- Margin Right*/
.mr3 {
  margin-right: 0.75rem !important;
}

.m4 {
  margin: 1rem !important;
}

/*-------- Margin Top*/
.mt4 {
  margin-top: 1rem !important;
}

/*-------- Margin Bottom*/     
.mb4 {
  margin-bottom: 1rem !important;
}

/*-------- Margin Left*/
.ml4 {
  margin-left: 1rem !important;
}

/*-------- Margin Right*/
.mr4 {
  margin-right: 1rem !important;
}

.m5 {
  margin: 1.25rem !important;
}

/*-------- Margin Top*/
.mt5 {
  margin-top: 1.25rem !important;
}

/*-------- Margin Bottom*/     
.mb5 {
  margin-bottom: 1.25rem !important;
}

/*-------- Margin Left*/
.ml5 {
  margin-left: 1.25rem !important;
}

/*-------- Margin Right*/
.mr5 {
  margin-right: 1.25rem !important;
}

.m6 {
  margin: 1.5rem !important;
}

/*-------- Margin Top*/
.mt6 {
  margin-top: 1.5rem !important;
}

/*-------- Margin Bottom*/     
.mb6 {
  margin-bottom: 1.5rem !important;
}

/*-------- Margin Left*/
.ml6 {
  margin-left: 1.5rem !important;
}

/*-------- Margin Right*/
.mr6 {
  margin-right: 1.5rem !important;
}

.m7 {
  margin: 1.75rem !important;
}

/*-------- Margin Top*/
.mt7 {
  margin-top: 1.75rem !important;
}

/*-------- Margin Bottom*/     
.mb7 {
  margin-bottom: 1.75rem !important;
}

/*-------- Margin Left*/
.ml7 {
  margin-left: 1.75rem !important;
}

/*-------- Margin Right*/
.mr7 {
  margin-right: 1.75rem !important;
}

.m8 {
  margin: 2rem !important;
}

/*-------- Margin Top*/
.mt8 {
  margin-top: 2rem !important;
}

/*-------- Margin Bottom*/     
.mb8 {
  margin-bottom: 2rem !important;
}

/*-------- Margin Left*/
.ml8 {
  margin-left: 2rem !important;
}

/*-------- Margin Right*/
.mr8 {
  margin-right: 2rem !important;
}

.m9 {
  margin: 2.25rem !important;
}

/*-------- Margin Top*/
.mt9 {
  margin-top: 2.25rem !important;
}

/*-------- Margin Bottom*/     
.mb9 {
  margin-bottom: 2.25rem !important;
}

/*-------- Margin Left*/
.ml9 {
  margin-left: 2.25rem !important;
}

/*-------- Margin Right*/
.mr9 {
  margin-right: 2.25rem !important;
}

.m10 {
  margin: 2.5rem !important;
}

/*-------- Margin Top*/
.mt10 {
  margin-top: 2.5rem !important;
}

/*-------- Margin Bottom*/     
.mb10 {
  margin-bottom: 2.5rem !important;
}

/*-------- Margin Left*/
.ml10 {
  margin-left: 2.5rem !important;
}

/*-------- Margin Right*/
.mr10 {
  margin-right: 2.5rem !important;
}

.m-auto {
  margin: 0 auto;
}

/* ============== PADDING ============== */
.p0 {
  padding: 0rem !important;
}

/*-------- Padding Top*/
.pt0 {
  padding-top: 0rem !important;
}

/*-------- Padding Bottom*/
.pb0 {
  padding-bottom: 0rem !important;
}

/*-------- Padding Left*/
.pl0 {
  padding-left: 0rem !important;
}

/*-------- Padding Right*/
.pr0 {
  padding-right: 0rem !important;
}

.p1 {
  padding: 0.25rem !important;
}

/*-------- Padding Top*/
.pt1 {
  padding-top: 0.25rem !important;
}

/*-------- Padding Bottom*/
.pb1 {
  padding-bottom: 0.25rem !important;
}

/*-------- Padding Left*/
.pl1 {
  padding-left: 0.25rem !important;
}

/*-------- Padding Right*/
.pr1 {
  padding-right: 0.25rem !important;
}

.p2 {
  padding: 0.5rem !important;
}

/*-------- Padding Top*/
.pt2 {
  padding-top: 0.5rem !important;
}

/*-------- Padding Bottom*/
.pb2 {
  padding-bottom: 0.5rem !important;
}

/*-------- Padding Left*/
.pl2 {
  padding-left: 0.5rem !important;
}

/*-------- Padding Right*/
.pr2 {
  padding-right: 0.5rem !important;
}

.p3 {
  padding: 0.75rem !important;
}

/*-------- Padding Top*/
.pt3 {
  padding-top: 0.75rem !important;
}

/*-------- Padding Bottom*/
.pb3 {
  padding-bottom: 0.75rem !important;
}

/*-------- Padding Left*/
.pl3 {
  padding-left: 0.75rem !important;
}

/*-------- Padding Right*/
.pr3 {
  padding-right: 0.75rem !important;
}

.p4 {
  padding: 1rem !important;
}

/*-------- Padding Top*/
.pt4 {
  padding-top: 1rem !important;
}

/*-------- Padding Bottom*/
.pb4 {
  padding-bottom: 1rem !important;
}

/*-------- Padding Left*/
.pl4 {
  padding-left: 1rem !important;
}

/*-------- Padding Right*/
.pr4 {
  padding-right: 1rem !important;
}

.p5 {
  padding: 1.25rem !important;
}

/*-------- Padding Top*/
.pt5 {
  padding-top: 1.25rem !important;
}

/*-------- Padding Bottom*/
.pb5 {
  padding-bottom: 1.25rem !important;
}

/*-------- Padding Left*/
.pl5 {
  padding-left: 1.25rem !important;
}

/*-------- Padding Right*/
.pr5 {
  padding-right: 1.25rem !important;
}

.p6 {
  padding: 1.5rem !important;
}

/*-------- Padding Top*/
.pt6 {
  padding-top: 1.5rem !important;
}

/*-------- Padding Bottom*/
.pb6 {
  padding-bottom: 1.5rem !important;
}

/*-------- Padding Left*/
.pl6 {
  padding-left: 1.5rem !important;
}

/*-------- Padding Right*/
.pr6 {
  padding-right: 1.5rem !important;
}

.p7 {
  padding: 1.75rem !important;
}

/*-------- Padding Top*/
.pt7 {
  padding-top: 1.75rem !important;
}

/*-------- Padding Bottom*/
.pb7 {
  padding-bottom: 1.75rem !important;
}

/*-------- Padding Left*/
.pl7 {
  padding-left: 1.75rem !important;
}

/*-------- Padding Right*/
.pr7 {
  padding-right: 1.75rem !important;
}

.p8 {
  padding: 2rem !important;
}

/*-------- Padding Top*/
.pt8 {
  padding-top: 2rem !important;
}

/*-------- Padding Bottom*/
.pb8 {
  padding-bottom: 2rem !important;
}

/*-------- Padding Left*/
.pl8 {
  padding-left: 2rem !important;
}

/*-------- Padding Right*/
.pr8 {
  padding-right: 2rem !important;
}

.p9 {
  padding: 2.25rem !important;
}

/*-------- Padding Top*/
.pt9 {
  padding-top: 2.25rem !important;
}

/*-------- Padding Bottom*/
.pb9 {
  padding-bottom: 2.25rem !important;
}

/*-------- Padding Left*/
.pl9 {
  padding-left: 2.25rem !important;
}

/*-------- Padding Right*/
.pr9 {
  padding-right: 2.25rem !important;
}

.p10 {
  padding: 2.5rem !important;
}

/*-------- Padding Top*/
.pt10 {
  padding-top: 2.5rem !important;
}

/*-------- Padding Bottom*/
.pb10 {
  padding-bottom: 2.5rem !important;
}

/*-------- Padding Left*/
.pl10 {
  padding-left: 2.5rem !important;
}

/*-------- Padding Right*/
.pr10 {
  padding-right: 2.5rem !important;
}

/* ============== DISPLAY ============== */
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/* ============== JUSTIFY-CONTENT ============== */
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

/* ============== ALIGN-ITEMS ============== */
.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

/* ============== FLEX-DIRECTION ============== */
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* ============== POSITION ============== */
.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.sec {
  color: #34323a;
  padding: 1rem;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}
.sec .container-header {
  width: 100%;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #f1eaf7;
}
.sec .container-header .menu-option li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8rem;
  border: 1px solid #f1eaf7;
  background-color: #fdfcfc;
  padding: 0.7rem 0.8rem;
  border-radius: 4px;
}
.sec .container-header .menu-option span {
  padding: 0 1rem;
}
.sec .container-body {
  border-bottom: 1px solid #f1eaf7;
}
.sec .container-body .container-title {
  padding: 1rem;
  color: #c1c1f0;
  font-size: 0.8rem;
  font-weight: bold;
}
.sec .container-body .toolbar-docs label {
  font-weight: bolder;
  margin: 0 0.3rem;
}
.sec .container-body .toolbar-docs label p {
  font-size: 0.8rem;
  color: #c1c1f0;
}
.sec .container-body .toolbar-docs input[type=radio] {
  display: none;
}
.sec .container-body .toolbar-docs input[type=radio]:checked + label {
  border-radius: 5px;
  background-color: rgba(193, 193, 240, 0.4);
}
.sec .container-footer {
  display: flex;
}

/* ============== BEDGE-FILL ============== */
.bedge-pill-blue-theme2 {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #0a0a293f !important;
  color: #0a0a29 !important;
  vertical-align: middle;
}

.bedge-pill-blue-theme1 {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #c1c1f03f !important;
  color: #c1c1f0 !important;
  vertical-align: middle;
}

.bedge-pill-blue-theme {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #1818673f !important;
  color: #181867 !important;
  vertical-align: middle;
}

.bedge-pill-gray {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #ebebeb3f !important;
  color: #ebebeb !important;
  vertical-align: middle;
}

.bedge-pill-dark-gray {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #77757c3f !important;
  color: #77757c !important;
  vertical-align: middle;
}

.bedge-pill-white {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #ffffff3f !important;
  color: #ffffff !important;
  vertical-align: middle;
}

.bedge-pill-attention {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #ff93593f !important;
  color: #ff9359 !important;
  vertical-align: middle;
}

.bedge-pill-danger {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #cb20273f !important;
  color: #cb2027 !important;
  vertical-align: middle;
}

.bedge-pill-info {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #5fd8e43f !important;
  color: #5fd8e4 !important;
  vertical-align: middle;
}

.bedge-pill-primary {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #5967ff3f !important;
  color: #5967ff !important;
  vertical-align: middle;
}

.bedge-pill-success {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #59ca7f3f !important;
  color: #59ca7f !important;
  vertical-align: middle;
}

.bedge-pill-warning {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 7px;
  background-color: #ffcc333f !important;
  color: #ffcc33 !important;
  vertical-align: middle;
}

/* ============== graph ============== */
:root {
  --size: 255;
}

.graph {
  text-align: center;
  width: 200px;
  height: 200px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: transparent;
  stroke-width: 8px;
}

.chart1 {
  transform: rotate(0deg);
  transform-origin: center;
}

.chart2 {
  transform: rotate(0deg);
  transform-origin: center;
}

.chart3 {
  transform: rotate(0deg);
  transform-origin: center;
}/*# sourceMappingURL=style.css.map */